body {
  box-sizing: border-box;
}
.parent {
  background: #f9f9f9;
  display: flex;
}

.child {
  width: 50%;
  height: 100vh;
  padding: 20px;
  border: 1px solid #ddd;
}
.child.left {
  font-size: 24px;
  text-align: center;
  line-height: 60px;
}
.child.right {
  height: 100%;
  overflow: auto;
}
.child.right .title {
  padding-top: 20px;
  font-size: 24px;
}
.child.right .desc {
  font-size: 18px;
  padding-top: 10px;
}
.child.left .click-here {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  line-height: 200px;
  cursor: pointer;
  background-color: lightyellow;
}
